@model LimsGarden.Web.Models.CustomerViewModel
<head>
    <style>
        .btn-space {
            padding-bottom: 30px;
            text-decoration: underline;
        }
    </style>
</head>

<div class="btn-space">
    <a asp-action="Create">Add Customer</a>
</div>

<button id="search-cust">Search Customers</button>
<div id="function-inputs">
        @using (Html.BeginForm("Search"))
        {
            <input type="text" id="search-input-fn" style="display:none;" name="SearchFirstName" placeholder="First Name" />
            <input type="text" id="search-input-ln" style="display:none;" name="SearchLastName" placeholder="Last Name" />
            <input asp-action="Search" type="submit" value="Search" style="display:none;" id="search-begin"/>
        }

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        @section scripts{
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#search-cust').click(function () {
                        $('#search-input-fn').show(100);
                        $('#search-input-ln').show(100);
                        $('#search-begin').show(100);
                    });
                });
            </script>
        }
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customers.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customers.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customers.First().Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item">Edit</a> |
                <a asp-action="Details" asp-route-id="@item">Details</a> |
                <a asp-action="Delete" asp-route-id="@item">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>