@model IEnumerable<LimsGarden.DataAccess.Model.Orders>

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        .orders {
            padding-bottom: 40px;
            text-align: center;
        }
    </style>
</head>
    
<h1 class="orders">Orders</h1>
<button>
    <a asp-action="Create" class="button">Create an Order</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.BranchName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.BranchName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item">Edit</a> |
                <a asp-action="Details" asp-route-id="@item">Details</a> |
                <a asp-action="Delete" asp-route-id="@item">Delete</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
